@import url('https://fonts.googleapis.com/css2?family=Griffy&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme{
  --font-grif : "Griffy", system-ui;
  --font-mon : "Manrope", sans-serif;
}



@import "tailwindcss";

@plugin "daisyui";



